* {
  margin: 0;
  padding: 0;
}

.profile {
  border: 2px solid black;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
}

h1 {
  text-align: center;
  color: blue;
  margin-top: 5px;
  font-size: 80px;
  font-family: "Courier New", Courier, monospace;
}
